if(DEFINED ENV{HOME} AND NOT "$ENV{HOME}" STREQUAL "")
    set(FETCHCONTENT_BASE_DIR "$ENV{HOME}/.cache/pwrforge/stm32cube")
elseif(DEFINED ENV{pwrforge_PROJECT_ROOT} AND NOT "$ENV{pwrforge_PROJECT_ROOT}" STREQUAL "")
    set(FETCHCONTENT_BASE_DIR "$ENV{pwrforge_PROJECT_ROOT}/build/.cmake_fetch_cache")
else()
    set(FETCHCONTENT_BASE_DIR "${CMAKE_SOURCE_DIR}/build/.cmake_fetch_cache")
endif()

include($ENV{pwrforge_PROJECT_ROOT}/third-party/stm32-cmake/cmake/stm32_gcc.cmake)

stm32_get_chip_info($ENV{STM32_CHIP} FAMILY STM32_FAMILY DEVICE STM32_DEVICE TYPE STM32_TYPE)
string(TOLOWER "${STM32_FAMILY}" STM32_FAMILY_LOWER)
set(PWRFORGE_STM32_CUBE_SOURCE_DIR "${FETCHCONTENT_BASE_DIR}/stm32cube${STM32_FAMILY_LOWER}-src")
set(PWRFORGE_STM32_CUBE_IMAGE_SOURCE_DIR "/opt/pwrforge-cache/stm32cube/stm32cube${STM32_FAMILY_LOWER}-src")

if(EXISTS "${PWRFORGE_STM32_CUBE_SOURCE_DIR}/Drivers")
    set("STM32_CUBE_${STM32_FAMILY}_PATH" "${PWRFORGE_STM32_CUBE_SOURCE_DIR}")
    message(STATUS "Using preloaded stm32 cube for stm32 ${STM32_FAMILY} family from ${PWRFORGE_STM32_CUBE_SOURCE_DIR}")
elseif(EXISTS "${PWRFORGE_STM32_CUBE_IMAGE_SOURCE_DIR}/Drivers")
    set("STM32_CUBE_${STM32_FAMILY}_PATH" "${PWRFORGE_STM32_CUBE_IMAGE_SOURCE_DIR}")
    message(STATUS "Using image stm32 cube for stm32 ${STM32_FAMILY} family from ${PWRFORGE_STM32_CUBE_IMAGE_SOURCE_DIR}")
else()
    message("Fetching stm32 cube for stm32 ${STM32_FAMILY} family")
    stm32_fetch_cube(${STM32_FAMILY})
endif()

add_compile_options(--specs=nosys.specs)
add_link_options(--specs=nosys.specs)
link_libraries(STM32::${STM32_FAMILY})
