name: pull request ci
on:
  pull_request:
    branches:
      - develop
      - master
      - 'releases/**'
      - 'env/test'

jobs:
  call-workflow:
    uses: ./.github/workflows/workflow-common.yml